body {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 36px;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
main {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    min-width: 320px;
}
#background {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ),
        url("./golden-retriever-dog-1364426710r9x.jpg");
    background-size: 50% 25%; 
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}
#header {
    color: #9B2242;
}
#content {
    color: white;
    padding: 1rem;
    min-width: 320px;
}